@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
* {
  box-sizing: border-box;
}

button.navbar-toggler {
  color: #d8e0e6;
}

.custom_menu {
  margin-left: -2.1rem;
  margin-right: 0.2rem;
}
.custom_menu li {
  width: 13rem;
  margin-left: 2.8rem;
}
.custom_menu button {
  border: 1px solid #2196F3;
}

main {
  min-height: 72vh;
  overflow: auto;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

main::-webkit-scrollbar {
  display: none;
}

.custom_table_outer_container {
  overflow: scroll;
}

.custom_table {
  min-width: 94vw;
  align-self: center;
}

#custom_col {
  color: #2196F3;
}
#custom_col a {
  text-decoration: none;
}

/* Styling header */
header {
  display: flex;
  justify-content: center;
}
header div {
  letter-spacing: 0.1rem;
  color: #2196F3;
  width: 30vw;
  margin-top: 0.5rem;
  position: relative;
  text-align: center;
}

@media (max-width: 1200px) {
  header div {
    width: 33vw;
  }
}
@media (max-width: 992px) {
  header div {
    width: 36vw;
  }
}
@media (max-width: 768px) {
  header div {
    width: 45vw;
  }
}
@media (max-width: 576px) {
  header div {
    width: 60vw;
  }
}
.typewriter {
  overflow: hidden;
  border-right: 0.15rem solid #2196F3;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 5s ease-in-out infinite, blink-caret 0.75s step-end infinite;
}

.no-select {
  user-select: none;
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 80%;
  }
  25% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #2196F3;
  }
}
.custom_menu {
  color: #2196F3;
}

.custom_menu:hover {
  color: #2196F3;
  background-color: rgb(212, 233, 237);
}

footer {
  display: flex;
  color: #2196F3;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

.pos-outer-container {
  margin-top: 2rem;
  min-height: 70vh;
  background-color: #fcfcfd;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  color: #2196F3;
  font-size: 1.2rem;
  padding: 0;
}
.pos-outer-container div {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100%;
}
.pos-outer-container div div {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
}
.pos-outer-container div div select,
.pos-outer-container div div input {
  background-color: transparent;
  color: #2196F3;
  border: none;
  outline: none;
  border-bottom: #2196F3 0.2rem solid;
  font-size: 1.2rem;
  height: 1.9rem;
}
.pos-outer-container div div input {
  padding-bottom: 0.8rem;
}
.pos-outer-container button {
  height: 2.6rem;
  width: 15rem;
  background-color: transparent;
  border: none;
  border: #2196F3 0.2rem solid;
  color: black;
  text-align: center;
  font-size: 1.4rem;
}

.outer-container {
  margin-top: 1.5rem;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  color: #2196F3;
  font-size: 1.2rem;
}
.outer-container div {
  display: flex;
  flex-direction: column;
  width: 70rem;
}
.outer-container div div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.outer-container div div div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1rem;
}
.outer-container div div div input,
.outer-container div div div label {
  height: 1.9rem;
  color: #2196F3;
  margin-bottom: 1rem;
}
.outer-container div div div input {
  outline: none;
  border: none;
  font-size: 1.2rem;
  border-bottom: #2196F3 0.2rem solid;
  background-color: transparent;
  padding-bottom: 0.8rem;
}
.outer-container div div div select {
  color: #2196F3;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  height: 1.8rem;
  border-bottom: #2196F3 0.2rem solid;
}
.outer-container div div div label {
  margin-right: 2rem;
}
.outer-container button {
  margin-left: 1rem;
  margin-bottom: 2rem;
  height: 3rem;
  width: 15rem;
  background-color: transparent;
  border: none;
  border: #2196F3 0.2rem solid;
  color: #2196F3;
  text-align: center;
  font-size: 1.4rem;
}

.outer-container {
  overflow: scroll;
}

.outer-container::-webkit-scrollbar {
  display: none;
}

/* Styles for screens with a maximum width of 768px */
@media (max-width: 992px) {
  .outer-container {
    margin-top: 1.5rem;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    color: #2196F3;
    font-size: 1.2rem;
  }
  .outer-container div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .outer-container div div {
    display: flex;
    flex-direction: column;
  }
  .outer-container div div div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1rem;
  }
  .outer-container div div div input,
  .outer-container div div div label {
    height: 1.8rem;
    color: #2196F3;
    margin-bottom: 1rem;
  }
  .outer-container div div div input {
    outline: none;
    border: none;
    font-size: 1.2rem;
    border-bottom: #2196F3 0.2rem solid;
    background-color: transparent;
  }
  .outer-container div div div input {
    padding-bottom: 0.8rem;
  }
  .outer-container div div div select {
    color: #2196F3;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    height: 1.8rem;
    border-bottom: #2196F3 0.2rem solid;
  }
  .outer-container div div div label {
    margin-right: 2rem;
  }
  .outer-container button {
    height: 3rem;
    width: 15rem;
    background-color: transparent;
    border: none;
    border: #2196F3 0.2rem solid;
    color: #2196F3;
    text-align: center;
    font-size: 1.4rem;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  min-height: 95vh;
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.login.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.login.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.login.ok button {
  background-color: #8bc34a;
}
.login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.login .account {
  display: flex;
  flex-direction: row;
  color: #2196F3;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.login .account div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .account div label {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.login .below_links {
  display: flex;
  justify-content: space-between;
}
.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
.login input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #2196F3;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.login a {
  font-size: 0.8em;
  color: #2196F3;
  text-decoration: none;
}
.login .title {
  color: #2196F3;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 0 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196F3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.login button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 9rem;
  opacity: 0;
  margin-left: -20px;
  margin-top: -25px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.login:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #2196F3;
}
.login:not(.loading) button:focus {
  border-bottom-width: 4px;
}

.main_login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-color: #afcfe9;
}

.performance {
  overflow: scroll;
  color: #2196F3;
}
.performance .upper_outer {
  overflow: scroll;
  height: 70%;
  display: flex;
}
.performance .upper_outer .emp {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.2rem;
  text-align: center;
}
.performance .upper_outer .user_details {
  overflow: scroll;
  width: 35%;
  height: 100%;
  padding-left: 1.2rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.performance .upper_outer .user_details label {
  padding-bottom: 0.3rem;
}
.performance .upper_outer .performance_review {
  overflow: scroll;
  text-align: center;
}
.performance .upper_outer .performance_review .sub_performance_review {
  display: flex;
  justify-content: center;
  align-items: center;
}
.performance .upper_outer .performance_review .sub_performance_review button {
  border: none;
  border: 1px solid #2196F3;
  color: #2196F3;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 1.2rem;
}
.performance .upper_outer .performance_review textarea {
  margin-top: 1rem;
  border-color: #2196F3;
  color: #2196F3;
  outline-color: #2196F3;
  font-size: 1.2rem;
}
.performance .feedback {
  overflow: scroll;
  width: 100%;
  height: 30%;
}
.performance .feedback .sub_feedback {
  display: flex;
  margin: 1rem 0 1rem 0;
  justify-content: center;
}
.performance .feedback .sub_feedback label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.feed_submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed_submit textarea {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-color: #2196F3;
  color: #2196F3;
  outline-color: #2196F3;
  font-size: 1.2rem;
}
.feed_submit button {
  border: none;
  border: 1px solid #2196F3;
  color: #2196F3;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .user_details {
    display: none;
  }
  .performance_review textarea {
    width: 98%;
  }
}
textarea::-webkit-scrollbar {
  display: none;
}

.performance::-webkit-scrollbar {
  display: none;
}

.performance_review::-webkit-scrollbar {
  display: none;
}

.upper_outer::-webkit-scrollbar {
  display: none;
}

.user_details::-webkit-scrollbar {
  display: none;
}

.feedback::-webkit-scrollbar {
  display: none;
}

.bi,
.feedback_img {
  font-size: 1.2rem;
  color: #2196F3;
}

.icon {
  text-align: center;
}

.overflow {
  max-height: 5rem;
  max-width: 10rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.overflow::-webkit-scrollbar {
  display: none;
}

.allocate_perf {
  display: flex;
  height: 60vh;
  color: #2196F3;
}
.allocate_perf select {
  border: none;
  color: #2196F3;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  text-align: center;
  padding: 0.3rem;
  width: 95%;
}
.allocate_perf select option {
  color: #2196F3;
  white-space: pre-line;
  width: 95%;
  margin-bottom: 0.4rem;
  overflow: hidden;
  line-break: anywhere;
}
.allocate_perf select option:checked {
  background-color: #c1d3e4;
}
.allocate_perf .allocated_by {
  width: 25%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
}
.allocate_perf .allocated_scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}
.allocate_perf .allocated {
  width: 50%;
  text-align: center;
}
.allocate_perf .allocated_to {
  width: 25%;
  text-align: center;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Style for the option elements */
}
.allocate_perf .allocated_to .custom-select {
  width: 150px;
  /* Set your desired width */
  overflow: hidden;
  /* Hide any overflowing text */
}
.allocate_perf .allocated_to .custom-select option {
  white-space: wrap;
  /* Prevent text from wrapping within options */
  overflow: hidden;
  /* Hide any overflowing text within options */
  text-overflow: ellipsis;
  /* Display ellipsis (...) for overflowed text */
}
.allocate_perf label {
  font-size: 1.5rem;
  font-weight: bold;
}

.sub_allocation_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_allocation_btn button {
  border: none;
  border: 1px solid #2196F3;
  color: #2196F3;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
}

.select_mul::-webkit-scrollbar {
  display: none;
}

.allocated_to::-webkit-scrollbar {
  display: none;
}

.allocated_by::-webkit-scrollbar {
  display: none;
}

.allocated_scroll::-webkit-scrollbar {
  display: none;
}

.home_btn {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2.2rem;
}
.home_btn a {
  border: 1px solid #2196F3;
  padding: 0.5rem;
  text-decoration: none;
}
