<menu>
    <nav class="navbar navbar-expand-lg bg-body-tertiary custom_menu">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse custom_collapse" id="navbarSupportedContent">
                <ul class="nav justify-content-center">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/timeline">Timeline</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Manage Employees
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item custom_menu" href="/admin/department">Add Department</a></li>
                            <li><a class="dropdown-item custom_menu" href="/admin/position">Add Position</a></li>
                            <li><a class="dropdown-item custom_menu" href="/admin/employee">Add Employee</a></li>
                            <li><a class="dropdown-item custom_menu" href="/admin/employees">View Employees</a></li>
                            <li><a class="dropdown-item custom_menu" href="/admin/allocparticipation">Allocate Participations</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</menu>