<main>
    <div class="wrapper main_login">
        <form class="login" id="forgotPassword">
            <p class="title">Reset Password</p>
            <input type="email" placeholder="Email" name = "email" autofocus />
            <i class="fa fa-user"></i>
            <input type="password" placeholder="New Password" name="newPassword"/>
            <i class="password fa fa-key"></i>
            <div class="links">
                <div class="below_links">
                    <a class="sign-in" href="/signIn">Sign In</a>
                    <a style="align-items:end;" class="sign-up" href="/signUp">Sign Up</a>
                </div>
            </div>
            <button>
                <i class="spinner"></i>
                <span class="state" id="reset">Reset</span>
            </button>
        </form>
        </p>
    </div>
    <script src="./static/js/home.js"></script>
</main>